<section class="form-section">
    <div class="text">
        <h3>
            Fique por dentro das trevas
        </h3>
        <p>
            O ciclo se repete, os sinais se acumulam. O que está por vir não será evitado.
            Inscreva-se e receba fragmentos do desconhecido, sussurros do abismo.
            As sombras se movem em silêncio, e apenas os atentos verão a verdade.
            Submeta seu nome. Entregue seu email.
            A transformação começa aqui.
        </p>
    </div>
    <form [formGroup]="newsLetterforms">
        <label for="name">Name</label>
        <input id="name" formControlName="name" />
        <label for="email">Email</label>
        <input id="email" formControlName="email" />
        <app-btn-primary btn-text="LET ME IN" variant="secondary" (submit)="onSubmit()"
            [disabled]="!newsLetterforms.valid" [loading]="loading()"></app-btn-primary>
    </form>
</section>