<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>TESTE CONSULTORIA</span>
            <h1>A consultoria que você busca para o seu software</h1>
        </div>
        <img ngSrc="/assets/component-one.png" width="669" height="533" priority>
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                95% das <br />
                empresas
            </h2>
        </div>
        <p>não sabem como lidar com problemas de não sabem como lidar com problemas de <b>escalibilidade</b> e grande
            volume de requisições.e e grande volume de requisições.</p>
    </section>
    <section class="cta-section">
        <app-btn-primary btn-text="fale com nossos especialistas"></app-btn-primary>
    </section>
    <app-newsletter-form></app-newsletter-form>
      <section class="benefit-section pad-70">
        <benefit-card
            card-title="Equipe capacitada"
            img-path="/assets/team.jpg"
            card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
        >
        </benefit-card>
        <benefit-card
            card-title="Seus projetos guiados do zero"
            img-path="/assets/project-guide.jpg"
            card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
        >
        </benefit-card>
    </section>
</main>