<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>ABIGAIL CONSULTORIA</span>
            <h1>Eles procuram consultoria… Mas o que encontram é algo muito mais profundo... </h1>
        </div>
        <img ngSrc="/assets/component-one.png" width="669" height="533" priority>
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                95% das <br />
                empresas
            </h2>
        </div>
        <p>não sabem invocar o controle das forças da
            <b>escalabilidade</b> e caem sob o peso de
            requisições infinitas e loops eternos.
            entregue-se ao ciclo. aceite o chamado.
        </p>
    </section>
    <section class="cta-section">
        <app-btn-primary btn-text="FOLLOW THE BUZZARDS"></app-btn-primary>
    </section>
    <app-newsletter-form></app-newsletter-form>
    <section class="benefit-section pad-70">
        <benefit-card card-title="Equipe capacitada" img-path="/assets/team.jpg" card-description="Eles estão entre nós...
            Olhos que enxergam além do véu, mentes forjadas no fogo do desconhecido.
            Esta não é uma simples equipe é a congregação dos escolhidos.">
        </benefit-card>
        <benefit-card card-title="Seus projetos guiados do zero" img-path="/assets/project-guide.jpg" card-description="Toda criação começa no vazio.
            Das sombras nasce a centelha...
            E nós, os artesãos do início, te conduziremos.
            Passo a passo. Do nada à revelação.">
        </benefit-card>
    </section>
    <section class="cta-section pad-70">
        <h2>Você ouve isso...?
            É o sussurro das máquinas... o clamor do desconhecido.<br />
        </h2>
        <app-btn-primary btn-text="LET ME IN"></app-btn-primary>
    </section>
    <app-footer></app-footer>
</main>